@model EShopCinema.Web.Models.DTO.ShoppingCartDto
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShoppingCart</h1>

<div class="container">


    <div class="row m-4">
        <a asp-controller="ShoppingCart" asp-action="Order" class="btn btn-info">Order Now</a>
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticket Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">TicketPrice</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CinemaTickets.Count == 0)
                {
                    <tr>
                        <td colspan="5">No active Tickets</td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < Model.CinemaTickets.Count; i++)
                    {
                        var item = Model.CinemaTickets[i];

                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.TicketCinema.MovieFullName</td>
                            <td>@item.TicketsQuantity</td>
                            <td>@item.TicketCinema.TicketMoviePrice</td>
                            <td><a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@item.CinemaTicketId" class="btn btn-danger">Delete From ShoppingCart</a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">@Model.TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>